.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  background: #fff;
  box-shadow: 0px 1px 2px #c2c1c1;
}

.header__logo {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  font-weight: 900;
}

.header__nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.header__nav-link:hover {
  color: #0078ff;
}
